<ion-header>
  <ion-toolbar>
    <ion-title>Create Withdrawal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <form [formGroup]="withdrawalForm">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">From Account <ion-text color="danger">*</ion-text></ion-label>
            <ion-select interface="popover" placeholder="Select account" formControlName="accountId">
              <ion-select-option *ngFor="let account of accounts$ | async" [value]="account.id">{{account.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Amount ($) <ion-text color="danger">*</ion-text></ion-label>
            <ion-input numeric numericType="decimal" type="text" placeholder="0" formControlName="amount"></ion-input>              
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <div class="ion-float-right">
            <ion-button color="primary" fill="clear" [disabled]="withdrawalForm.invalid" (click)="dismissModal(withdrawalForm.value)">OK</ion-button>
            <ion-button color="secondary" fill="medium" (click)="dismissModal()">Cancel</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>