<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        <ion-text>{{category.name}}</ion-text>
      </ion-label>
      <div slot="end">
        <ion-button size="small" color="danger" fill="clear" (click)="deleteCategoryClicked(category)">
          Remove
        </ion-button>
        <ion-button size="small" color="dark" fill="clear" (click)="editCategoryClicked(category)">
          Edit
        </ion-button>
      </div>
    </ion-item-divider>
    <ion-item *ngFor="let subcat of filteredSubcategories" lines="none">
      <ion-label>
        {{subcat.name}}
      </ion-label>
      <div slot="end">
        <ion-button size="small" fill="clear" color="dark" (click)="openActionsMenu($event, category, subcat)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item *ngIf="showSubcategories" lines="none">
      <ion-button slot="start" size="small" fill="clear" (click)="createSubcategoryClicked(category)">
        <ion-icon name="add"></ion-icon>
        <ion-text>Add Subcategory</ion-text>
      </ion-button>
    </ion-item>
  </ion-item-group>
</ion-list>