<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openActionsMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item-group *ngFor="let transaction of transactions$ | async">
        <ion-item-divider>
          <ion-label>
            <ion-text>{{transaction.date | date: 'MMM dd, yyyy'}}</ion-text>
          </ion-label>
        </ion-item-divider>
        <ion-item class="transaction-container" *ngFor="let transaction of transaction.data">
          <expense [expenseDetail]="transaction"
            (editExpense)="openEditExpenseModal($event)" 
            (deleteExpense)="openDeleteExpenseConfirmation($event)">
          </expense>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
